<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculatorService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Calculator/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ICalculatorService" contract="CalculatorService.ICalculatorService"
        name="WSHttpBinding_ICalculatorService" />
    </client>
  </system.serviceModel>
</configuration>
