<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{C4CAA9AE-F53D-4DD1-AB15-2CB9F444C25C}" UpgradeCode="{5912CE92-9807-4686-B53C-2598DB8DA273}"
           Version="1.0.0" Language="1033" Name="Performance Monitor for WCF" Manufacturer="Ridge Shrubsall">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentGroupRef Id="ApplicationShortcuts" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="perfmon-for-wcf" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Performance Monitor for WCF" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <!-- PerfmonClient -->
      <Component Id="LiveCharts.dll" Guid="{C949D6B4-A85B-47FC-969A-8BDAD94FF504}">
        <File Id="LiveCharts.dll" Source="$(var.PerfmonClient.TargetDir)\LiveCharts.dll" KeyPath="yes" />
      </Component>
      <Component Id="LiveCharts.Wpf.dll" Guid="{3308CF8F-E28F-4A04-8384-72C5C04C0814}">
        <File Id="LiveCharts.Wpf.dll" Source="$(var.PerfmonClient.TargetDir)\LiveCharts.Wpf.dll" KeyPath="yes" />
      </Component>
      <Component Id="PerfmonClient.exe" Guid="{2E08F267-BD9E-4AFA-8A5C-7CBBC2105844}">
        <File Id="PerfmonClient.exe" Source="$(var.PerfmonClient.TargetDir)\PerfmonClient.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="PerfmonClient.exe.config" Guid="{E3799305-3098-4380-8B16-FF5CD4F25D5C}">
        <File Id="PerfmonClient.exe.config" Source="$(var.PerfmonClient.TargetDir)\PerfmonClient.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll" Guid="{7B641EC1-FAC0-4068-990A-B3D8494F3840}">
        <File Id="Xceed.Wpf.Toolkit.dll" Source="$(var.PerfmonClient.TargetDir)\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
      </Component>

      <!-- PerfmonServiceHost -->
      <Component Id="PerfmonServiceHost.exe" Guid="{F12F5612-0FD2-4583-8EF5-118BDAF16507}">
        <File Id="PerfmonServiceHost.exe" Source="$(var.PerfmonServiceHost.TargetDir)\PerfmonServiceHost.exe" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="PerfmonServiceHost.exe.config" Guid="{E65DDB3B-323E-4B5C-AA66-53BEC873E201}">
        <File Id="PerfmonServiceHost.exe.config" Source="$(var.PerfmonServiceHost.TargetDir)\PerfmonServiceHost.exe.config" KeyPath="yes" />
      </Component>

      <!-- PerfmonServiceLibrary -->
      <Component Id="PerfmonServiceLibrary.dll" Guid="{5E6A3B9A-BB7A-4CB6-BEA9-4AE860F4413B}">
        <File Id="PerfmonServiceLibrary.dll" Source="$(var.PerfmonServiceLibrary.TargetDir)\PerfmonServiceLibrary.dll" KeyPath="yes" />
      </Component>

      <!-- PerfmonServiceWindows -->
      <Component Id="PerfmonServiceWindows.exe" Guid="{992A0F99-EF21-4503-87BA-346298E384AC}">
        <File Id="PerfmonServiceWindows.exe" Source="$(var.PerfmonServiceWindows.TargetDir)\PerfmonServiceWindows.exe" KeyPath="yes" Checksum="yes" />
        <ServiceInstall Type="ownProcess" Start="auto" ErrorControl="normal" Vital="yes"
                        Name="PerfmonService" DisplayName="Performance Monitor for WCF Service" />
        <ServiceControl Id="RemoveService" Name="PerfmonService" Remove="uninstall" Stop="both" Wait="yes" />
      </Component>
      <Component Id="PerfmonServiceWindows.exe.config" Guid="{77767A5C-B14E-46DB-B7C6-72CEE3CCD779}">
        <File Id="PerfmonServiceWindows.exe.config" Source="$(var.PerfmonServiceWindows.TargetDir)\PerfmonServiceWindows.exe.config" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcuts" Guid="{7871116F-8E8C-45B6-AE30-F8949020AE1E}">
        <Shortcut Id="ClientStartMenuShortcut" Name="Client" Target="[#PerfmonClient.exe]" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="ServiceHostStartMenuShortcut" Name="Service Host" Target="[#PerfmonServiceHost.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\perfmon-for-wcf" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
