<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="PerfmonServiceLibrary.PerfmonService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Perfmon/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsDualHttpBinding" contract="PerfmonServiceLibrary.IPerfmonService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
