<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IPerfmonService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/Perfmon/" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IPerfmonService" contract="PerfmonService.IPerfmonService"
        name="WSDualHttpBinding_IPerfmonService" />
    </client>
  </system.serviceModel>
</configuration>
